@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="flex-center">
    <div id="box">
        <div class="img-card">
            <img src="../images/machine.png" alt="Privacy">
        </div>
        <div class="cont-form">
            <div class="title-center">
                <h1>Privacy</h1>
                <p><a asp-page="Index">Back to Home</a></p>
            </div>
            <div class="row row-space">
                <div class="col">
                    <p>This is an example website, of the CIT 365 Course on BYU Idaho. Created by Arturo Ocampo in February 2023, The purpose of the site is exemplifying the ASP.NET webpages.</p>
                </div>
            </div>
        </div>
    </div>
</div>
